.contacts {
  @media (max-width: $tablet-width) {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: block;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(calc(100vw + 100%) / 2);
      width: 100vw;
      height: 1px;
      box-shadow: 100vw 0 0 $decorate-color;
      opacity: 0.2;
    }
  }
}

.contacts__title {
  margin: 0 0 29px;

  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: $text-footer;

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 28px 0 29px;
  }
}

.contacts__list {
  @include reset-list;
}

.contacts__item {
  font-family: $font-secondary;
  font-size: 15px;
  line-height: 25px;
  color: $text-footer;
  opacity: 0.5;
}

.contacts__link {
  color: $text-footer;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
    opacity: 0.7;
  }
}
