.socials {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.socials__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    margin-top: 8px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}

.socials__item {
  margin-right: 16px;
}

.socials__link svg {
  fill: $grey;
  transition: fill 0.2s;
}

.socials__link {
  &:hover svg,
  &:focus svg {
    fill: $accent-color;
  }
}
