// Fonts

$font-main: "Roboto Condensed", "Arial", sans-serif;
$font-secondary: "PT Mono", "Lucida Console", "Monaco", monospace;

// Colors

$white: #ffffff;
$text-footer: #1b2d37;
$accent-color: #00b2ff;
$grey: #cdcdcd;
$decorate-color: #626962;
$background-footer-color: #fafafa;

//Views

$desktop-width: 1023px;
$tablet-width: 767px;
